.myBtn {
  position: relative;
  text-align: center;
  margin-top: 25%;
  margin-bottom: 25%;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 800px) {
  button {
    width: 30%;
    height: 80px;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: none;
    border-radius: 10px;
    color: #130f40;
    background-color: #f6e58d;
    transition: 0.5s;
  }
}

@media screen and (max-width: 800px){
  button {
    width: 40%;
    height: 60px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: none;
    border-radius: 10px;
    color: #130f40;
    background-color: #f6e58d;
    transition: 0.5s;
  }
}

@media screen and(max-width: 400px) {
  button {
    width: 50%;
    height: 40px;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: none;
    border-radius: 10px;
    color: #130f40;
    background-color: #f6e58d;
    transition: 0.5s;
  }
}

button:focus {
  outline: none;
}

button:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
  background-color: #eb4d4b;
}

button:hover span {
  display: none;
}

button:hover:after {
  content: "Only you";
}

h1 {
  position: relative;
  text-align: center;
  font-family: cursive;
  color: #eb4d4b;
}

$red: #CF2E3B;
$black: #333333;

body {
  background: $black;
}

#heart {
  position: relative;
  width: 120px;
  height: 90px;
  margin: 175px auto;
  animation: pulse 1.5s ease-out;
  animation-iteration-count: infinite;
  
  &:before, &:after {
    position: absolute;
    content: "";
    left: 60px;
    top: 0;
    border-top: 10px $red solid;
    width: 60px;
    height: 80px;
    background: $red;
    border-radius: 50px 50px 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
  }
  
  &:after {
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
    box-shadow: 2px 0px 1px darken($red, 35%);
  }
  
  &:before {
    box-shadow: 2px 2px 1px darken($red, 35%);
    border-top: 10px lighten($red, 15%) solid;
  }
}

@keyframes pulse {
  0% {transform: scale(2); }
  25% {transform: scale(1.9); }
  50% {transform: scale(2.1); }  
  75% {transform: scale(2); }
  100% {transform: scale(2); }
}


